<html>

<body style='background-color: #fafaff; padding: 20px;'>
  <style>
    th {
      text-align: left;
    }
  </style>
  <h1>Index of {{ id }}</h1>
  <hr>
  <table style='width: 100%;'>
    <tr>
      <th>File</th>
      <th style='text-align: right;'>Size</th>
      <th style='text-align: right;'>Hash</th>
    </tr>
    {{#each filesInfo}}
    <tr>
      <td> {{{ icon }}} <a href='#' onclick="javascript:openFile('{{ fileId }}')" target='_blank'>
          {{ name }}
        </a></td>

      <td style='text-align: right;'>{{ size }}</td>
      <td style='text-align: right;'><em>{{ fileId }}</em></td>
    </tr>
    {{/each}}
  </table>
  <script>
    function openBlobUrl(blob){
      // Convert your blob into a Blob URL (a special url that points to an object in the browser's memory)
      const blobUrl = URL.createObjectURL(blob);
      window.open(blobUrl, target="_blank");
    }
    const openFile = async (id) => {
        const blob = await window.point.storage.getFile({id: `${id}`});
        openBlobUrl(blob);
    }
  </script>
</body>

</html>
